<div class="about-user dis-inline-block">
  <div class="about-left-div">
    <span style="margin-left: 12px" class="PFHL-data">About</span>
    <div style=" color: blue;" class="about-user-content-left" id="OverviewBTN">Overview</div>
    <div class="about-user-content-left" id="WorkEducationBTN">Work and education</div>
    <div class="about-user-content-left" id="PlacedLivedBTN">Placed lived</div>
    <div class="about-user-content-left" id="ContactInfoBTN">Contact and basic info</div>
    <div style="margin-bottom: 10px" class="about-user-content-left" id="DetailsBTN">
      Details about you
    </div>
  </div>
  <div class="about-right-div">
    <div class="overview">
      <div class="about-user-content-right-form" id="AddaWorkspace">
        <i style="font-size: 24px" class="fal fa-plus-circle"></i>&nbsp;&nbsp;
        Add a Workspace
      </div>
      <div class="form-group" id="AddaWorkspaceFORM">
        <input type="Company" class="form-control about-form-shift" id="company" aria-describedby="emailHelp"
          placeholder="Company" />
        <input type="Company" class="form-control about-form-shift" id="position" aria-describedby="emailHelp"
          placeholder="Position" />
        <input type="Company" class="form-control about-form-shift" id="City/Town" aria-describedby="emailHelp"
          placeholder="City/Town" />
        <input style="height: 100px" type="text" class="form-control about-form-shift" id="Description"
          aria-describedby="emailHelp" placeholder="Description" />
        <div class="submit-cancel">
          <div style="background-color: rgb(30, 30, 238)" class="about-btn">
            Save
          </div>
          <div style="margin-right: 6px" class="about-btn" id='WorkSpaceCancel'>Cancel</div>
        </div>
      </div>
      <div class="about-user-content-right">
        <i style="font-size: 24px" class="fas fa-graduation-cap"> </i>&nbsp;&nbsp; Studied at Ben-Hur Public School,
        Pilibhit
        <div class="Three-bindu">
          <i class="fas fa-ellipsis-h"></i>
        </div>
      </div>
      <div class="about-user-content-right">
        <i style="font-size: 24px" class="fas fa-home"></i>&nbsp;&nbsp;Lives in
        Pilibhit
        <div class="Three-bindu">
          <i class="fas fa-ellipsis-h"></i>
        </div>
      </div>
      <div class="about-user-content-right">
        <i style="font-size: 24px" class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;From Pilibhit
        <div class="Three-bindu">
          <i class="fas fa-ellipsis-h"></i>
        </div>
      </div>
      <div class="about-user-content-right-form" id="RelationShipBTN">
        <i style="font-size: 24px" class="fal fa-plus-circle"></i>&nbsp;&nbsp;
        Add a Relationship Status
      </div>
      <!-- TODO To Format Select Block -->
      <div style="margin-top: 15px; margin-bottom: 15px" class="form-group" id="RelationShipBTNFORM">
        <select class="form-control about-relationship" id="sel1">
          <option value="" disabled selected>Select your option</option>
          <option value="single">Single</option>
          <option value="it's-complicated">It's Complicated</option>
          <option value="in-a-relationship">In a Relationship</option>
          <option value="married">Married</option>
          <option value="engaged">Engaged</option>
        </select>
      </div>
      <div style="margin-top: 3px" ; class="about-user-content-right">
        <i style="font-size: 24px" class="fas fa-phone-alt"></i>&nbsp;&nbsp;
        7453923535
        <div class="Three-bindu">
          <i class="fas fa-pencil-alt"></i>
        </div>
      </div>
    </div>
    <div class="work-and-education">
      <div style="font-size: 21px; margin-top: 9px" class="about-user-content-right">
        Work
      </div>
      <div style="margin-top: -6px" class="about-user-content-right-form" id="Workspace2nd">
        <i style="font-size: 24px" class="fal fa-plus-circle"></i>&nbsp;&nbsp;
        Add a Workspace
      </div>
      <div class="form-group" id="Workspace2ndFORM">
        <input type="Company" class="form-control about-form-shift" id="company" aria-describedby="emailHelp"
          placeholder="Company" />
        <input type="Company" class="form-control about-form-shift" id="position" aria-describedby="emailHelp"
          placeholder="Position" />
        <input type="Company" class="form-control about-form-shift" id="City/Town" aria-describedby="emailHelp"
          placeholder="City/Town" />
        <input style="height: 100px" type="text" class="form-control about-form-shift" id="Description"
          aria-describedby="emailHelp" placeholder="Description" />
        <div class="submit-cancel">
          <div style="background-color: rgb(30, 30, 238)" class="about-btn">
            Save
          </div>
          <div style="margin-right: 6px" class="about-btn" id="WorkSpace2ndCancel">Cancel</div>
        </div>
      </div>
      <div style="font-size: 21px" class="about-user-content-right">
        University
      </div>

      <div style="margin-top: -6px" class="about-user-content-right-form" id="AddAUniversity">
        <i style="font-size: 24px" class="fal fa-plus-circle"></i>&nbsp;&nbsp;
        Add a University
      </div>
      <div class="form-group" id="AddAUniversityFORM">
        <input type="text" class="form-control about-form-shift" id="Description" aria-describedby="emailHelp"
          placeholder="School" />
        <input style="height: 100px" type="text" class="form-control about-form-shift" id="Description"
          aria-describedby="emailHelp" placeholder="Description" />
        <div class="submit-cancel">
          <div style="background-color: rgb(30, 30, 238)" class="about-btn">
            Save
          </div>
          <div style="margin-right: 6px" class="about-btn" id="CancelAddingAUniversity">Cancel</div>
        </div>
      </div>
      <div class="about-user-content-right">
        <i class="fas fa-university"></i>&nbsp;&nbsp; Studied at Ben-Hur Public
        School
        <div class="Three-bindu">
          <i class="fas fa-ellipsis-h"></i>
        </div>
      </div>
      <div class="about-user-content-right-form" id="AddAHighSchool">
        <i style="font-size: 24px" class="fal fa-plus-circle"></i>&nbsp;&nbsp;
        Add a High School
      </div>
      <div class="form-group" id="AddAHighSchoolFORM">
        <input type="text" class="form-control about-form-shift" id="Description" aria-describedby="emailHelp"
          placeholder="School" />
        <input style="height: 100px" type="text" class="form-control about-form-shift" id="Description"
          aria-describedby="emailHelp" placeholder="Description" />
        <div class="submit-cancel">
          <div style="background-color: rgb(30, 30, 238)" class="about-btn">
            Save
          </div>
          <div style="margin-right: 6px" class="about-btn" id="CancelAddingAHighSchool">Cancel</div>
        </div>
      </div>
    </div>
    <div class="place-lived">
      <div style="font-size: 21px; margin-top: 9px" class="about-user-content-right">
        Work
      </div>
      <div style="margin-top: -6px" class="about-user-content-right-form" id="AddACity">
        <i style="font-size: 24px" class="fal fa-plus-circle"></i>&nbsp;&nbsp;
        Add a City
      </div>
      <div class="form-group" id="AddACityFORM">
        <input type="Company" class="form-control about-form-shift" id="company" aria-describedby="emailHelp"
          placeholder="Town/City" />
        <div class="submit-cancel">
          <div style="background-color: rgb(30, 30, 238)" class="about-btn">
            Save
          </div>
          <div style="margin-right: 6px" class="about-btn" id="cancelAddingACity">Cancel</div>
        </div>
      </div>
      <div class="about-user-content-right">
        <i class="fas fa-city"></i>&nbsp;&nbsp; Lives in Pilibhit
        <div class="Three-bindu">
          <i class="fas fa-ellipsis-h"></i>
        </div>
      </div>
    </div>
    <div class="contact-and-info">
      <div style="font-size: 21px; margin-top: 9px" class="about-user-content-right">
        Contact and Info
      </div>
      <div style="margin-top: -6px" class="about-user-content-right-form" id="AddAddress">
        <i style="font-size: 24px" class="fal fa-plus-circle"></i>&nbsp;&nbsp;
        Add your Address
      </div>
      <div class="form-group" id="AddAddressFORM">
        <input type="text" class="form-control about-form-shift" id="Description" aria-describedby="emailHelp"
          placeholder="Address" />
        <input type="text" class="form-control about-form-shift" id="Description" aria-describedby="emailHelp"
          placeholder="City/Town" />
        <div class="submit-cancel">
          <div style="background-color: rgb(30, 30, 238)" class="about-btn">
            Save
          </div>
          <div style="margin-right: 6px" class="about-btn" id="CancelAddingAddress">Cancel</div>
        </div>
      </div>

      <div style="margin-top: 3px" ; class="about-user-content-right">
        <i style="font-size: 24px" class="fas fa-phone-alt"></i>&nbsp;&nbsp;
        7453923535
        <div class="Three-bindu">
          <i class="fas fa-pencil-alt"></i>
        </div>
      </div>
      <div style="margin-top: 3px" ; class="about-user-content-right">
        <i style="font-size: 24px" class="fas fa-envelope"></i>&nbsp;&nbsp;
        shuklayash1256@gmail.com
        <div class="Three-bindu">
          <i class="fas fa-pencil-alt"></i>
        </div>
      </div>
      <div style="margin-top: -6px" class="about-user-content-right-form" id="AddLanguage">
        <i style="font-size: 24px" class="fal fa-plus-circle"></i>&nbsp;&nbsp;
        Add your Language
      </div>
      <div class="form-group" id="AddLanguageFORM">
        <input type="text" class="form-control about-form-shift" id="Description" aria-describedby="emailHelp"
          placeholder="Language" />
        <div class="submit-cancel">
          <div style="background-color: rgb(30, 30, 238)" class="about-btn">
            Save
          </div>
          <div style="margin-right: 6px" class="about-btn" id="CancelAddingLanguage">Cancel</div>
        </div>
      </div>

      <div style="margin-top: -6px" class="about-user-content-right-form" id="AddInterestedIn">
        <i style="font-size: 24px" class="fal fa-plus-circle"></i>&nbsp;&nbsp;
        Who you are interested in
      </div>
      <div class="form-group" id="AddInterestedInFORM">
        <form class="check-box-interested">
          <input type="checkbox" name="Men" value="Bike" />
          <label for="vehicle1">&nbsp;Men</label><br />
          <input type="checkbox" name="Women" value="Car" />
          <label for="vehicle2">&nbsp;Women</label><br />
          <input type="checkbox" name="Others" value="Boat" />
          <label for="vehicle3">&nbsp;Others</label>
        </form>
        <div class="submit-cancel">
          <div style="background-color: rgb(30, 30, 238)" class="about-btn">
            Save
          </div>
          <div style="margin-right: 6px" class="about-btn" id="CancelAddingInterestedIn">Cancel</div>
        </div>
      </div>
      <div style="margin-top: -6px" class="about-user-content-right">
        <i style="font-size: 24px" class="fas fa-user"></i>&nbsp;&nbsp;Male
      </div>
      <div style="margin-top: -6px" class="about-user-content-right-form" id="AddGender">
        <i style="font-size: 24px" class="fal fa-plus-circle"></i>&nbsp;&nbsp;
        Add your Gender
      </div>
      <div class="form-group" id="AddGenderFORM">
        <input type="text" class="form-control about-form-shift" id="Description" aria-describedby="emailHelp"
          placeholder="Gender" />
        <div class="submit-cancel">
          <div style="background-color: rgb(30, 30, 238)" class="about-btn">
            Save
          </div>
          <div style="margin-right: 6px" class="about-btn" id="CancelAddingGender">Cancel</div>
        </div>
      </div>

      <div style="margin-top: -6px" class="about-user-content-right">
        <i style="font-size: 24px" class="fas fa-birthday-cake"></i>&nbsp;&nbsp;
        5th August 2021
      </div>
      <div style="margin-top: -6px" class="about-user-content-right-form" id="AddBirthday">
        <i style="font-size: 24px" class="fal fa-plus-circle"></i>&nbsp;&nbsp;
        Add your Birthday
      </div>
      <div class="form-group" id="AddBirthdayFORM">
        <input type="text" class="form-control about-form-shift" id="Description" aria-describedby="emailHelp"
          placeholder="DOB" />
        <div class="submit-cancel">
          <div style="background-color: rgb(30, 30, 238)" class="about-btn">
            Save
          </div>
          <div style="margin-right: 6px" class="about-btn" id="CancelAddingBirthday">Cancel</div>
        </div>
      </div>

    </div>
    <div class="details-about-you">
      <div style="font-size: 21px; margin-top: 9px" class="about-user-content-right">
        About You
      </div>
      <div style="margin-top: -6px" class="about-user-content-right-form" id="Addyourself">
        <i style="font-size: 24px" class="fal fa-plus-circle"></i>&nbsp;&nbsp;
        Write Something about Yourself
      </div>
      <div class="form-group" id="AddyourselfFORM">
        <input type="text" class="form-control about-form-shift" id="Description" aria-describedby="emailHelp"
          placeholder="About You" />
        <div class="submit-cancel">
          <div style="background-color: rgb(30, 30, 238)" class="about-btn">
            Save
          </div>
          <div style="margin-right: 6px" class="about-btn" id="CancelAddingyourself">Cancel</div>
        </div>
      </div>
      <div style="font-size: 21px" class="about-user-content-right">
        Other Names
      </div>
      <div style="margin-top: -6px" class="about-user-content-right-form" id="AddOtherName">
        <i style="font-size: 24px" class="fal fa-plus-circle"></i>&nbsp;&nbsp;
        Add a Nick-Name, BirthName
      </div>
      <div class="form-group" id="AddOtherNameFORM">
        <input type="text" class="form-control about-form-shift" id="Description" aria-describedby="emailHelp"
          placeholder="Name" />
        <div class="submit-cancel">
          <div style="background-color: rgb(30, 30, 238)" class="about-btn">
            Save
          </div>
          <div style="margin-right: 6px" class="about-btn" id="CancelAddingOtherName">Cancel</div>
        </div>
      </div>
    </div>
  </div>
</div>