.polgon-box {
  clip-path: polygon(0 0, 100% 0, 100% 65%, 0 84%);
  background-color: orange;
  width: 100%;
  height: 600px;
  z-index: -1;
}
.chit-chat-animation {
  float: left;
  width: 30vw;
  z-index: -1;
  height: 80vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  background-color: blue;
}

.login-form-class {
  max-width: 380px;
  border-radius: 8px;
  border-width: 2px;
  background-color: darkgray;
  float: right;
  /* z-index: inherit; */
  margin: auto;
  margin-top: 20vh;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 20vh;
  text-align: center;
  padding: 60px;
}
.brand-name {
  font-size: 50px;
  font-family: cursive;
  font-weight: 200;
  padding: 0.75vh;
  margin-bottom: 10px;
  align-self: center;
}
.recovery-of-account {
  margin: 0px 0px 8px 0px;
  font-weight: 200;
  font-size: 20px;
  font-family: cursive;
}
.section1 {
  display: block;
}
.section2 {
  display: none;
}
.nextBtn {
  width: 100%;
  /* align-self: flex-end;
  align-items: center;
  float: right; */
}
* {
  margin: 0;
  padding: 0;
}
.container {
  background: #f0f0f0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw;
    height: 100vh; */
}

@media screen and (max-width: 800px) {
  .box {
    border-radius: 20px;
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset,
      -10px -10px 10px #ffffff inset;
    animation: animeHalf 3s cubic-bezier(0.16, 1, 0.3, 1) 1s infinite alternate;
    /* animation-fill-mode: forwards; */
  }
}

@keyframes animeHalf {
  0% {
    width: 60px;
    height: 60px;
    background: red;
    font-size: 0px;
    /* padding: 30px 30px 30px 30px; */
    box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset,
      -10px -10px 10px #ffffff inset;
  }
  50% {
    width: 60px;
    height: 60px;
    background: orange;
    font-size: 20px;
    font-family: fantasy;
    padding: 18px 15px 22px 15px;
    box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff,
      0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
  }
  100% {
    width: 60px;
    height: 240px;
    background: green;
    font-size: 25px;
    font-family: fantasy;
    padding: 90px 20px 90px 10px;
    box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff,
      0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
  }
}

/*  */
@media screen and (min-width: 800px) {
  .box {
    border-radius: 20px;
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset,
      -10px -10px 10px #ffffff inset;
    animation: animeFull 3s cubic-bezier(0.16, 1, 0.3, 1) 1s infinite alternate;
    /* animation-fill-mode: forwards; */
  }
}

@keyframes animeFull {
  0% {
    width: 60px;
    height: 60px;
    background: red;
    font-size: 0px;
    /* padding: 30px 30px 30px 30px; */
    box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset,
      -10px -10px 10px #ffffff inset;
  }
  25% {
    width: 60px;
    height: 60px;
    background: orange;
    font-size: 20px;
    font-family: fantasy;
    padding: 18px 15px 22px 15px;
    box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff,
      0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
  }
  50% {
    width: 60px;
    height: 240px;
    background: green;
    font-size: 25px;
    font-family: fantasy;
    padding: 90px 20px 90px 10px;
    box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff,
      0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
  }
  100% {
    width: 480px;
    height: 240px;
    background: blue;
    font-size: 80px;
    font-family: fantasy;
    padding: 60px 120px 140px 120px;
    box-shadow: 40px 40px 40px #cccccc, 0 0 0 #ffffff, 0 0 0 #cccccc inset,
      2px 2px 2px #ffffff inset;
  }
}
